# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.gitignore
.flaskenv

# Database
instance/
uploads/
# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store