name: CI + Docker Build and push


on:
  push: 
    branches: [ main ]
jobs: 
    test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.12'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libzbar0

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt

      - name: Run Tests
        run: pytest -v 

docker: 
      runs-on: ubuntu-latest
      needs: test
      steps:
        - name: checkout Code
          uses: actions/checkout@v4

        - name: Login to github container Registry 
          uses: docker/login-action@v2
          with: 
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GHCR_PAT }}

        - name: Build Docker Image
          run: docker build -t ghcr.io/${{ github.repository_owner }}/PwnzzAI:latest .
       
        - name: Push Docker image
          run: docker push ghcr.io/${{ github.repository_owner }}/PwnzzAI:latest

